/* .banner{
    background-image: url(https://img.freepik.com/vetores-gratis/abstrato-geometrico-fundo-poligonal-vermelho_1035-18006.jpg);
} */

.a{
    background-color: blue;
}
.b{
    background-color: pink;
}